<script setup lang="ts">
import { mdiLogout } from "@mdi/js";
import {useLoginStore} from '@/stores/login'

const loginStore = useLoginStore()

const logout = () =>{
  loginStore.logout()
}

</script>

<template>
  <v-app-bar color="primary" density="compact">

    <v-app-bar-title>Bank</v-app-bar-title>

      <template v-slot:append>
        <v-btn :icon="mdiLogout" @click="logout"></v-btn>
      </template>
  </v-app-bar>
</template>