<script setup lang="ts">
import { mdiBankTransfer, mdiCashPlus, mdiAccount, mdiCashMinus, mdiCheckbook, mdiBank, mdiChevronLeft } from "@mdi/js";
import { ref } from "vue";
const drawer = ref(true);
const rail = ref(true);
</script>

<template>
  <v-navigation-drawer v-model="drawer" :rail="rail" permenant @click="rail = false">
    <v-list-item :prepend-icon="mdiAccount" title="User 1" subtitle="user 1" nav>
      <template v-slot:append>
        <v-btn variant="text" :icon="mdiChevronLeft" @click.stop="rail = !rail"></v-btn>
      </template></v-list-item>

    <v-divider></v-divider>

    <v-list nav>
      <!-- <v-list-item :prepend-icon="mdiFolder" title="My Files" value="myfiles"></v-list-item>
        <v-list-item :prepend-icon="mdiAccountMultiple" title="Shared with me" value="shared"></v-list-item>
        <v-list-item :prepend-icon="mdiStar" title="Starred" value="starred"></v-list-item> -->
      <v-list-item :prepend-icon="mdiCashPlus" title="Deposit" value="deposit" to="/deposit-view"></v-list-item>
      <v-list-item :prepend-icon="mdiCashMinus" title="Withdraw" value="withdraw" to="/withdraw-view"></v-list-item>
      <v-list-item :prepend-icon="mdiBankTransfer" title="Transfer" value="transfer" to="/transfer-view"></v-list-item>
      <v-list-item :prepend-icon="mdiCheckbook" title="Transaction History" value="transactionHistory"
        to="/transaction-history-view"></v-list-item>
      <v-list-item :prepend-icon="mdiCheckbook" title="About" value="about" to="/about"></v-list-item>
      <v-list-item :prepend-icon="mdiCheckbook" title="User" value="user" to="/user"></v-list-item>
    </v-list>
  </v-navigation-drawer>
</template>

