<script setup lang="ts">
import MainLayout from '@/layouts/MainLayout.vue';
import FullLayout from '@/layouts/FullLayout.vue';
import { computed, ref } from 'vue';
import LoginView from './views/LoginView.vue';
import DepositView from './views/DepositView.vue';
import { onMounted } from 'vue';
import router from './router';
import TestView from './views/TestView.vue';
// import {useLoginStore} from '@/stores/login'

// const loginStore = useLoginStore()

// onMounted(() => {
//   loadData()
// })
// const userName = ref('')
//   const isLogin = computed(() => {
//     return userName.value !== ''
//   })
//   const login = (loginName: string) => {
//     userName.value = loginName
//     localStorage.setItem('userName', loginName)
//     router.push("/about");
//   }
//   const logout = () => {
//     userName.value = ''
//     localStorage.removeItem('userName')
//   }
//   const loadData = () => {
//     userName.value = localStorage.getItem('userName') || ''
//   }

</script>

<template>
  <!-- <component :is="$route.meta.layout === 'MainLayout' ? MainLayout:FullLayout"></component> -->
  <!-- <LoginView v-if="!isLogin" @login="login" />
  <DepositView v-if="isLogin" @logout="logout" /> -->
  <TestView />
</template>