<script setup lang="ts">
import { mdiLogout } from "@mdi/js";
</script>

<template>
  <v-layout class="rounded rounded-md">
    <RouterView name="header"></RouterView>
      <!-- <template v-slot:prepend>
        <v-app-bar-nav-icon></v-app-bar-nav-icon>
      </template> -->

    <RouterView name="menu"></RouterView>

    <!-- <v-app-bar :icon="mdiBank" :elevation="2" color="primary" title="Bank">
    <template v-slot:append>
          <v-btn icon="mdi-dots-vertical"></v-btn>
        </template></v-app-bar> -->
    <v-main>
      <RouterView></RouterView>
    </v-main>
  </v-layout>
</template>